* {
    font-family: "Ubuntu", sans-serif;
    margin: 0;
}

body {
    background-color: white;
}

.section {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden;
}

/* ----------- COVER PAGE ----------- */ 

#title-container {
    position: absolute;
    margin: 0;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

#title {
    font-weight: 600;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    animation: text-mask-up 1s cubic-bezier(0, 0.1, 0.12, 0.99) 0.3s 1 normal both;
}

#position-container {
    position: absolute;
    margin: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

#position {
    text-align: center;
    width: 100vw;
    font-weight: 400;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    animation: text-mask-up 1s cubic-bezier(0, 0.1, 0.12, 0.99) 0.5s 1 normal both;
}

@media (min-width: 390px) {
    #title {
        font-size: 50px;
    }
    #position {
        font-size: 16px;
    }
    #position-container {
        top: 47%;
    }
}

@media (min-width: 820px) {
    #title {
        font-size: 100px;
    }
    #position {
        font-size: 30px;
    }
    #position-container {
        top: 47%;
    }
}

@media (min-width: 1024px) {
    #title {
        font-size: 140px;
    }
    #position {
        font-size: 40px;
    }
    #position-container {
        top: 55%;
    }
}

@keyframes text-mask-up {
    0% {
        transform: translateY(140px);
    }
    100% {
        transform: translateY(0);
    }
}

/* ----------- ABOUT PAGE ----------- */

#about-container {
    position: relative;
    top: 10vh;
    height: 80vh;
    overflow: hidden;
}

.moving-title {
    position: absolute;
    color: rgb(238, 238, 238);
    font-weight: 500;
    margin: 0;
    transition: transform 300ms ease-out;
}

.general-p {
    position: absolute;
    top: 20%;
    left: 20%;
    font-weight: 200;
    margin: 0;
    width: 75vw;
}

@media (min-width: 390px) {
    #about-title {
        font-size: 80px;
        top: 10%;
        left: -50%;
    }

    .general-p {
        font-size: 20px;
        line-height: 25px;
    }
}

@media (min-width: 820px) {
    #about-title {
        font-size: 140px;
        top: 10%;
        left: -35%;
    }

    .general-p {
        font-size: 25px;
        line-height: 32px;
    }
}

@media (min-width: 1024px) {
    #about-title {
        font-size: 200px;
        top: 5%;
        left: -15%;
    }

    .general-p {
        font-size: 30px;
        line-height: 39px;
    }
}

/* ----------- LEFT SIDE ----------- */

.left-side {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
}

.proj-num {
    display: inline;
}

.proj-info-container {
    display: flex;
    align-items: center;
}

.proj-info {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
}

.proj-title {
    display: inline;
}

.proj-subtitle {
    display: inline;
    font-weight: 500;
}

.proj-description {
    font-weight: 200;
}

.button-container {
    display: flex;
    background-size: 300% 100%;
    background-image: linear-gradient(to right, transparent 50%, #333333 50%);
}

.button-reveal {
    animation: 0.8s button-anim both;
}

@keyframes button-anim {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: -50% 0%;
    }
    100% {
      background-position: -126% 0%;
    }
  }

.source-code {
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    color: transparent; 
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: -120px -120px, 0 0;
    background-image: linear-gradient(
        to right bottom,
        #ffffff33 0%,
        #ffffff33 37%,
        #ffffffcc 45%,
        #ffffff00 50%);    
    background-size: 250% 250%, 100% 100%;
    transition: background-position 0s ease;
}

.source-code:hover {
    background-position: 0 0, 0 0;
    transition-duration: 0.5s;
}

.btn-text-appear {
    animation: 0.85s btn-text-anim 0.3s ease both;
}

@keyframes btn-text-anim {
    0% {
        background-color: transparent;
    }
    40% {
        color: transparent;
        background-color: #333333;
    }
    41% {
        color: #ffffff;
    }
    100% {
        color: #ffffff;
        background-color: #333333;
    }
}

.text {
    color: transparent;
    background-size: 300% 100%;
    background-image: linear-gradient(to right, transparent 50%, #333333 50%);
}

.text-reveal {
    animation: 0.8s text-anim both;
}

@keyframes text-anim {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: -50% 0%;
      color: transparent;
    }
    51% {
      color: #333333;
    }
    100% {
      background-position: -126% 0%;
      color: #333333;
    }
  }

@media (min-width: 0px) {
    .proj-info {
        padding-left: 4%;
    }
}

@media (min-width: 390px) {
    .left-side {
        width: 100vw;
    }
    .padding0 {
        padding: 8% 5% 1% 5%;
    }
    .padding1 {
        padding-bottom: 2%;
    }
    .proj-num,
    .proj-subtitle,
    .proj-description {
        font-size: 16px;
    }   
    .proj-description {
        line-height: 24px;
        margin-top: 6px;
    }
    .proj-info {
        padding: 0% 5% 3% 5%;
    }
    .button-container {
        margin-left: 35%;
        width: 90px;
    }
    .source-code {
        width: 90px;
        height: 30px;
        font-size: 12px;
        line-height: 30px;
    }
}

@media (min-width: 820px) {
    .proj-num,
    .proj-subtitle,
    .proj-description {
        font-size: 28px;
    }   
    .proj-description {
        line-height: 36px;
    }
    .proj-info-container {
        padding: 0% 0% 4% 0%;
    }
    .proj-info {
        padding: 5% 0% 0% 10%;
    }
    .proj-title {
        font-size: 70px;
    }
    .button-container {
        margin-left: 10%;
        width: 150px;
    }
    .source-code {
        width: 150px;
        height: 50px;
        font-size: 18px;
        line-height: 50px;
    }
}

@media (min-width: 1024px) {
    .left-side {
        width: 50vw;
    }
    .proj-num,
    .proj-subtitle,
    .proj-description {
        font-size: 28px;
    }   
    .proj-description {
        line-height: 36px;
    }
    .padding0 {
        padding: 4%;
    }
    .padding1 {
        margin-bottom: 30px;
    }
    .padding2 {
        margin-bottom: 15px;
    }
    .proj-info-container {
        padding: 0% 0% 17% 0%;
    }
    .proj-info {
        padding: 5% 5% 5% 10%;
    }
    .proj-title {
        font-size: 70px;
    }
    .button-container {
        margin-left: 10%;
        width: 150px;
    }
    .source-code {
        width: 150px;
        height: 50px;
        font-size: 18px;
        line-height: 50px;
    }
}

/* ----------- RIGHT SIDE ----------- */

.right-side {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    height: max-content;
    overflow: hidden;
}

.images {
    position: relative;
    overflow: hidden;
    height: 140vh;
}

@media (min-width: 390px) {
    .right-side {
        width: 100%;
        margin-top: 20vh;
    }
    .images {
        width: 100%;
    }
}

@media (min-width: 1024px) {
    .right-side {
        width: 50vw;
        margin-left: 50%;
        margin-top: 40vh;
    }
    .images {
        width: 50vw;
    }
}


/* ----------- PROJECT 01 IMAGES ----------- */

#microcaml-desktop,
#microcaml-laptop-img,
#microcaml-laptop,
#mutop-gif {
    position: absolute;
} 

#microcaml-desktop,
#microcaml-laptop-img {
    display: inline;
}

@media (min-width: 390px) {
    #microcaml-desktop {
        height: 250px;
        margin-top: 100%;
        margin-left: 10%;
    }

    #microcaml-laptop {
        margin-top: 560%;
        margin-left: 6%;
    }

    #microcaml-laptop-img {
        height: 190px;
    }

    #mutop-gif {
        margin-left: 42px;
        margin-top: 20px;
        height: 145px;
    }
}

@media (min-width: 820px) {
    #microcaml-desktop {
        height: 400px;
        margin-top: 100%;
        margin-left: 10%;
    }

    #microcaml-laptop {
        margin-top: 395%;
        margin-left: 33%;
    }

    #microcaml-laptop-img {
        height: 300px;
    }

    #mutop-gif {
        margin-left: 66px;
        margin-top: 28px;
        height: 229px;
    }
}

@media (min-width: 1024px) {
    #microcaml-desktop {
        height: 400px;
        margin-top: 20%;
        margin-left: 25%;
    }

    #microcaml-laptop {
        margin-top: 165%;
        margin-left: 3%;
    }

    #microcaml-laptop-img {
        height: 300px;
    }

    #mutop-gif {
        margin-left: 66px;
        margin-top: 28px;
        height: 229px;
    }
}  

/* ----------- PROJECT 02 IMAGES ----------- */

#c-desktop,
#c-desktop-img,
#c-img,
#asm-laptop,
#asm-laptop-img,
#asm-gif {
    position: absolute;
}

#asm-laptop-img {
    display: inline;
}

@media (min-width: 390px) {
    #c-desktop {
        margin-top: 70%;
        margin-left: 10%;
    }

    #c-desktop-img {
        height: 250px;
    }

    #c-img {
        margin-left: 15px;
        margin-top: 14px;
        height: 165px;
    }

    #asm-laptop {
        margin-top: 690%;
        margin-left: 3%;
    }

    #asm-laptop-img {
        height: 190px;
    }

    #asm-gif {
        margin-left: 72px;
        margin-top: 20px;
        height: 145px;
    }
}

@media (min-width: 820px) {
    #c-desktop {
        margin-top: 30%;
        margin-left: 25%;
    }

    #c-desktop-img {
        height: 400px;
    }

    #c-img {
        margin-left: 15px;
        margin-top: 14px;
        height: 280px;
    }

    #asm-laptop {
        margin-top: 441%;
    }

    #asm-laptop-img {
        height: 300px;
    }

    #asm-gif {
        margin-left: 66px;
        margin-top: 28px;
        height: 229px;
    }
}

@media (min-width: 1024px) {
    #c-desktop {
        margin-top: 30%;
        margin-left: 25%;
    }

    #c-desktop-img {
        height: 400px;
    }

    #c-img {
        margin-left: 15px;
        margin-top: 14px;
        height: 280px;
    }

    #asm-laptop {
        margin-top: 221%;
    }

    #asm-laptop-img {
        height: 300px;
    }

    #asm-gif {
        margin-left: 66px;
        margin-top: 28px;
        height: 229px;
    }
}

/* ----------- CODEPENS ----------- */

.codepen {
    overflow: hidden;
    position: absolute;
    border-radius: 20%;
}

@media (min-width: 390px) {
    #box-gif {
        height: 300px;
        width: 320px;
    }
    
    #shapes-gif{
        height: 200px;
        width: 230px;
    }

    .codepen:nth-child(1) {
        margin-top: 100%;
        margin-left: 9%;
        height: 300px;
        width: 320px;
    }

    .codepen:nth-child(2) {
        margin-top: 1030%;
        margin-left: 30%;
        height: 200px;
        width: 230px;
    }
}

@media (min-width: 820px) {
    #box-gif {
        height: 500px;
        width: 550px;
    }
    
    #shapes-gif {
        height: 280px;
        width: 350px;
    }
    
    .codepen:nth-child(1) {
        margin-top: 20%;
        height: 500px;
        width: 550px;
    }

    .codepen:nth-child(2) {
        margin-top: 577%;
        margin-left: 50%;
        height: 280px;
        width: 350px;
    }
}

@media (min-width: 1024px) {
    #box-gif {
        height: 500px;
        width: 550px;
    }
    
    #shapes-gif {
        height: 280px;
        width: 350px;
    }
    
    .codepen:nth-child(1) {
        margin-top: 20%;
        height: 500px;
        width: 550px;
    }

    .codepen:nth-child(2) {
        margin-top: 267%;
        margin-left: 45%;
        height: 280px;
        width: 350px;
    }
}

/* ----------- SKILLS ----------- */

#skills-title {
    width: max-content;
    left: 190%
}

.skills-p {
    position: relative;
    font-weight: 500;
    width: max-content;
}

@media (min-width: 390px) {
    #skills-title {
        font-size: 80px;
        top: 50%;
        left: 230%;
    }
    table {
        margin-top: 60%;
        margin-left: 10%;
        width: 300px;
    }
}

@media (min-width: 820px) {
    #skills-title {
        font-size: 200px;
        top: 30%;
        left: 250%;
    }
    table {
        margin-top: 15%;
        margin-left: 24%;
        width: 500px;
    }
    .skills-p {
        line-height: 40px;
    }

}

@media (min-width: 1024px) {
    #skills-title {
        font-size: 200px;
        top: 50%;
        left: 180%
    }

    table {
        margin-top: 15%;
        margin-left: 24%;
        width: 800px;
    }
}

/* ----------- CONTACT ----------- */

#contact-title {
    width: max-content;
    z-index: -1;
}

#icons {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(3, min-content);
}

.icon {
    aspect-ratio: 1;
    text-decoration: none;
}

@media (min-width: 390px) {
    #contact-title {
        font-size: 80px;
        top: 15%;
        left: -330%;
    }

    #icons {
        margin: 13%;
        gap: 30px;
    }

    .icon {
        height: 50px;
    }
}

@media (min-width: 820px) {
    #contact-title {
        font-size: 180px;
        top: 10%;
        left: -360%;
    }

    #icons {
        margin: 15%;
        gap: 100px;
    }

    .icon {
        height: 80px;
    }
}

@media (min-width: 1024px) {
    #contact-title {
        font-size: 200px;
        top: 25%;
        left: -220%;
    }

    #icons {
        margin: 25%;
        gap: 165px;
    }

    .icon {
        height: 100px;
    }
}